.header{
  background-color: #b8c3d2;
  height: 150px;
  margin-bottom: 10px;
}

.main{
  background-color:#b8c3d2;
  float:left;
  height: 600px;
  width: 84%;
  margin-bottom: 10px;
}

.aside{
  background-color:#b8c3d2;
  float:right;
  height: 600px;
  width: 15%;
  margin-bottom: 5px;
}

.boxOne {
  background-color:#b8c3d2;
  float:left;
  height: 150px;
  width: 32%;
  margin-bottom: 5px;
}

.boxTwo {
  background-color:#b8c3d2;
  float:left;
  height: 150px;
  width: 32%;
  margin: 0 0 5px 26px;
}

.boxThree {
  background-color:#b8c3d2;
  float:right;
  height: 150px;
  width: 32%;
}

footer {
  background-color: #b8c3d2;
  height: 150px;
  bottom: 0;
  clear: both;
  margin-bottom: 5px;
}